:root {
  --dark-color: #411530;
  --mid-color: #d1512d;
  --lite-color: #f5c7a9;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "cairo";
  background-color: var(--lite-color);
  user-select: none;
  /* max-height: calc(100vh - 90px); */
  overflow: hidden;
  position: relative;
}

.start {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--lite-color);
  z-index: 555;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.start input,
.start button {
  padding: 10px 20px;
  background-color: var(--mid-color);
  color: var(--dark-color);
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-transform: uppercase;
  outline: 4px solid var(--dark-color);
  outline-offset: 4px;
}

.start input {
  border: none;
  caret-color: var(--dark-color);
}
.start input::placeholder {
  color: var(--lite-color);
  text-align: center;
}
.start button {
  border: 4px solid var(--dark-color);
  cursor: pointer;
}
.start button:hover {
  outline-offset: 2px;
}

.head {
  margin-top: 5px;
  border: 4px solid var(--dark-color);
  background-color: var(--mid-color);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 22px;
  max-width: 900px;
  margin-inline: auto;
}
.head .name,
.head .tries {
  color: var(--dark-color);
  font-weight: bolder;
  text-transform: capitalize;
}

.head > span {
  color: var(--lite-color);
  font-weight: bold;
  letter-spacing: 2px;
}

.head .tries span {
  color: var(--lite-color);
}

section.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  max-width: 730px;
  max-height: calc(100vh - 80px);
  margin-inline: auto;
  position: relative;
  pointer-events: none;
}

.game .box {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  position: relative;
  transform-style: preserve-3d;
}

.game .box div {
  position: absolute;
  background-color: var(--mid-color);
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--dark-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 60px;
  font-weight: 900;
}

.game .box .front {
  color: var(--dark-color);
  cursor: pointer;
}

.game .box .back {
  border-color: var(--mid-color);
  background-color: var(--dark-color);
  transform: rotateY(180deg);
  color: var(--mid-color);
}

.flipped,
.done {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.congrats .box {
  animation: vib 1.2s alternate infinite linear;
  -webkit-animation: vib 1.2s alternate infinite linear;
}

@keyframes vib {
  0% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
  }
}

.result {
  position: absolute;
  opacity: 0;
  display: none;
}
.result.show {
  /* width: calc(100% - 40px);
  height: calc(100% - 40px); */
  width: 0;
  height: 0;
  background-color: var(--lite-color);
  border: 4px solid var(--dark-color);
  margin: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  justify-self: center;
  align-self: center;
  animation: enter 1s forwards 1;
  -webkit-animation: enter 1s forwards 1 fill-mode;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

@keyframes enter {
  100% {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    opacity: 1;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    background-color: var(--mid-color);
  }
}

.result.show p {
  font-size: 40px;
  color: var(--dark-color);
  font-weight: bold;
}
.result.show i {
  font-size: 70px;
  color: var(--dark-color);
}

.result.show button {
  padding: 10px 20px;
  background-color: var(--dark-color);
  color: var(--lite-color);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-transform: inherit;
  border: 3px solid var(--lite-color);
  outline: 4px solid var(--dark-color);
  outline-offset: 2px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .start input,
  .start button {
    font-size: 20px;
  }
  .head {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
  }
  .game .box div {
    font-size: 30px;
  }
  .result.show p {
    font-size: 20px;
  }
  .result.show i {
    font-size: 50px;
  }
}
